In [10]:
import pandas as pd
d=pd.read_csv("C:\\Users\\divya\\Desktop\\tips.csv")
df=pd.DataFrame(d)
type(df)
df.shape

(244, 7)

In [11]:
#length of the dataset
len(df)

244

In [2]:

# Display the first 5 rows of the DataFrame
print(df.head())
#Display the last five rows of the DataFrame
print(df.tail())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [3]:
#display all columns and their data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [4]:

#display some basic descriptive statistics for all numeric columns
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [5]:
# Check for missing values in each column
missing_values_per_column = df.isnull().sum()

# Display the count of missing values in each column
print("Missing values in each column:")
print(missing_values_per_column)
# Check for missing values in each row
missing_values_per_row = df.isnull().sum(axis=1)

# Display the count of missing values in each row
print("Missing values in each row:")
print(missing_values_per_row)

Missing values in each column:
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
Missing values in each row:
0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    0
241    0
242    0
243    0
Length: 244, dtype: int64

In [6]:
# Display summary statistics
print(df.describe())

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [7]:
#average
d["tip"].mean()

2.99827868852459

In [8]:
#median
d[["total_bill","tip"]].median()

total_bill    17.795
tip            2.900
dtype: float64

In [9]:
#using the DataFrame.agg() method:


d.agg(
    {
        "total_bill": ["min", "max", "median", "skew"],
        "tip": ["min", "max", "median", "mean"],
    }
)

        total_bill        tip
min       3.070000   1.000000
max      50.810000  10.000000
median   17.795000   2.900000
skew      1.133213        NaN
mean           NaN   2.998279

In [12]:
d[["total_bill", "tip"]].groupby("total_bill").mean()

               tip
total_bill
3.07         1.000
5.75         1.000
7.25         3.075
7.51         2.000
7.56         1.440
...            ...
45.35        3.500
48.17        5.000
48.27        6.730
48.33        9.000
50.81       10.000

[229 rows x 1 columns]

In [13]:
d.groupby("total_bill").mean(numeric_only=True)

               tip  size
total_bill
3.07         1.000   1.0
5.75         1.000   2.0
7.25         3.075   1.5
7.51         2.000   2.0
7.56         1.440   2.0
...            ...   ...
45.35        3.500   3.0
48.17        5.000   6.0
48.27        6.730   4.0
48.33        9.000   4.0
50.81       10.000   3.0

[229 rows x 2 columns]